<!-- No arquivo signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h2>Cadastro</h2>

    <!-- Botão para ir para a página de login -->
    <a href="{% url 'home' %}"><button>Homepage</button></a>

    <!-- Botão para ir para a página de login -->
    <a href="{% url 'login' %}"><button>Login</button></a> 

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
